.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 17px;
  line-height: 0;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 544px) {
  .cards {
    grid-template-columns: 1fr;
    max-width: 282px;
  }
}
