.profile__text {
  color: #ffffff;
  margin: 8px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 544px) {
  .profile__text {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 36px;
  }
}
